#navbar {
  width: 100vw;
  height: 100px;
  background-color: rgb(41,74,112);

  display: flex;
  align-items: center;
  justify-content: space-around;

  font-size: 28px;
}

#navbar li {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  height: 100px;
  
  display: flex;
  align-items: center;
  padding: 0 10px;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  
  color: white;
}

a:hover{
  background-color: rgb(244,160,36);
}
