body {
    font-family: sans-serif;
    background-color: rgb(153, 186, 192);
    background-image: url('paper23.png');
    background-repeat: repeat-x, repeat-y;
    background-size: 100%;
    background-attachment: fixed;

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;

  }

.grid-item {
    text-align: center;
    margin: 10px;
    padding: 3px;
    color: white;
}


form {
    background: rgba(153, 186, 192, 0.8);
    color: white;
    border-radius: 10px;
    padding: 15px;
}

textarea {
    font-family: sans-serif;
    border: 5px solid white;
    border-radius: 10px;
    background-color: white;
    margin-right: 35%;
    margin-left: 35%;
    width: 30%;
}

textarea:hover{
    background-color:rgb(209, 221, 223);
}

button {
    background-color: white;
    border: 5px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

button:hover {
    border: 5px solid white;
    background-color:rgb(209, 221, 223);

}

button:active{
    background-color: rgb(153, 186, 192);
    color: white;
    border: 5px solid white;
}


select {
    border-radius: 10px;
    background-color: white;
    width: 200px;
}


#periodField{
    border: 5px solid white;
    border-radius: 10px;
}

#mainInfo{
    border: 0px solid white;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}

#entryDate, #specialty, #semester, #class, #subject{
    border: 3px solid white;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}


#entryDate:hover, #specialty:hover, #semester:hover, #class:hover, #subject:hover{
    background-color: rgb(209, 221, 223);
}

h3 {
    background: rgba(153, 186, 192, 0.8);
    padding: 15px;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-right: 65%;
}

h1 {
    background: rgba(153, 186, 192, 0.8);
    padding: 15px;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5px;
    
}

#myFooter {
    background: rgba(153, 186, 192, 0.8);
    border-radius: 50px;
    padding: 2px;
    margin-top: 100px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    color: white;

}

.error {
    background-color: tomato; 
    border-radius: 10px; 
    padding:10px; 
    font-family: sans-serif;
    color: white;
    text-align: center;
}

#teacher-info{
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    text-align: center;
}